@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --highlight-color: #0057ff;
  --text-color: #666666;
  --text-font: Roboto;
}
* {
  margin: 0;
  padding: 0;

  font-family: Roboto;
  letter-spacing: 1px;
  font-weight: 300;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.nav-link,
.nav-link:active {
  color: #fff !important;
}
.login,
.signup,
.login-button:active,
.signup-button:active {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  margin-left: 2vw;
  font-size: 1rem;
  font-family: var(--text-font);
  cursor: pointer;
}

.login-button:hover,
.signup-button:hover {
  color: #000;
  background-color: #f2f5f7;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

/* stats css */
.head {
  font-family: "Adamina", serif;
  text-align: center;
}
.desc {
  font-family: var(--text-font);
  font-size: smaller;
  color: var(--text-color);

  text-align: center;
}

/* about css */
.about-head {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  line-height: 124.5%;
  text-align: left;
}
.about-desc,
#company p {
  text-align: justify;
  font-size: smaller;
  line-height: 184.69%;
  color: var(--text-color);
}

.btn {
  border-radius: 0%;
  font-family: Jost;
  font-weight: 500;
  padding: 10px;
  margin: 0 10px;
}

/* info */
.info-btn {
  border: 2px solid black;
}

/* features */

.cardText {
  text-align: justify;
  font-size: smaller !important;

  line-height: 150.69% !important;
  color: var(--text-color) !important;
}
.card-body h5 {
  font-family: Jost;
}
.card-body p {
  font-family: "Roboto";
  font-size: 100%;
  font-weight: 400;
  color: #818181;
  text-align: justify;
  line-height: 120%;
}
/* company  */
.company-head {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 124.5%;
}
#company p {
  max-width: 50vw;
  margin: auto;
  font-family: var(--text-font);
  font-size: medium;

  text-align: center;
}
.section-desc {
  font-family: var(--text-font);
  font-size: smaller;

  text-align: center;
}
/* reviews */
.review{
  background: #ecf5ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 8px 8px 16px rgba(0, 0, 0, 0.08);
}
/* Owner */

#founder,
#founder .card {
  background: #0057ff;
}
.founder-desc {
  text-align: justify;
  font-size: smaller !important;

  line-height: 150.69% !important;
  color: #fff !important;
}
/* footer */
footer {
  background-color: #f2f8ff;
  color: #000;
}
.foot {
  color: #000;
  text-decoration: none;
}

/* //top section */

#topContent{
  width: 40vw;
  margin: auto;
  background: #001870;
  border-radius: 17px;
}